<div class="row justify-content-center">
  <div class="col col-lg-6">
      <!-- Adding ngForm directive and ngSubmit event -->
    
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="firstName">First name</label>
              <input [(ngModel)]="userRegister.firstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="First name" required>
              <!-- Validation feedback here -->
            </div>
            <div class="col-md-12 mb-3">
              <label for="lastName">Last name</label>
              <input [(ngModel)]="userRegister.lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="Last name" required>
              <!-- Validation feedback here -->
            </div>
            <div class="col-md-12 mb-3">
              <label for="email">Email</label>
              <input [(ngModel)]="userRegister.email" name="email" type="email" class="form-control" id="email" placeholder="Email" required>
              <!-- Validation feedback here -->
            </div>
            <div class="col-md-12 mb-3">
              <label for="password">Password</label>
              <input [(ngModel)]="userRegister.password" name="password" type="password" class="form-control" id="password" placeholder="Password" required>
              <!-- Validation feedback here -->
            </div>
            <div class="mt-3">
              <span>If you have registered. </span>
              <a [routerLink]="['/login']">Log in</a>
            </div>
            <div class="mt-3">
              <button  (click) = "registerUser()" class="btn btn-primary" >Register</button>
            </div>
          </div>
           
  </div>
</div>


<div class="container" *ngIf="isLoading">
  <app-loading></app-loading>
</div>
