<div class="row justify-content-center">
    <div class="col col-lg-6">
        <form>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationDefault01">First name</label>
                <input [(ngModel)]="userRegister.firstName" name="firstName" type="text" class="form-control"  placeholder="First name"  required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault02">Last name</label>
                <input [(ngModel)]="userRegister.lastName" name="lastName" type="text" class="form-control"  placeholder="Last name" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault03">Email</label>
                <input [(ngModel)]="userRegister.email" name="email" type="email" class="form-control"  placeholder="Email" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault04">Password</label>
                <input [(ngModel)]="userRegister.password" name="password" type="password" class="form-control"  placeholder="Password" required>
              </div>
              <div class="mt-3">
                <span>If you have registered. </span>
                <a  [routerLink]="['/login']">Log in</a>
              </div>
              <div class="mt-3">
                <button (click) = "registerUser()" class="btn btn-primary" type="submit">Register</button>
              </div>
            </div>
        </form>        
    </div>
</div>