<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
      
        <li>
        <button class="btn btn-outline-primary me-3" [routerLink]="['/home']">Home</button>
        <button class="btn btn-outline-primary me-3" [routerLink]="['/item-list']">Item List</button>
       
        </li>
        <li></li>
        
        <li>
          <button  class="btn btn-outline-primary me-3" *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</button>
          <button class="btn btn-outline-primary me-3" *ngIf="!isLoggedIn" [routerLink]="['/register']">Register</button>
          <button (click)="showLogOutModal()" class="btn btn-outline-primary me-3" *ngIf="isLoggedIn"  >Log Out</button>
         
        </li>

    
      </ul>
    </header>
  </div>

  <div *ngIf="modalLogOutVisible" class="modal" tabindex="-1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log out account</h5>
                <button type="button" (click)="hideLogOutModal()" class="btn-close" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to log out the account?</p>
            </div>
            <div class="modal-footer">
                <button  (click)="saveLogOutChanges()" class="btn btn-primary" [routerLink]="['/login']">Log out</button>
                <button type="button" (click)="hideLogOutModal()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

  