<div class="row justify-content-center h-100 p-3">
    <div class="col col-lg-6">
        <form>
            <div class="form-group">
              <div class="col-md-12 mb-3">
                <label for="validationDefault03">Email</label>
                <input type="email" class="form-control" id="validationDefault03" placeholder="Email" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault04">Password</label>
                <input type="password" class="form-control" id="validationDefault04" placeholder="Password" required>
              </div>
              
            </div>
            
            <div >
              <span>If you have not registered. </span>
              <a  [routerLink]="['/register']">Register</a>
            </div>

            <div class="mt-3">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>

          </form>       
    </div>
</div>
