<div class="row justify-content-center">
    <div class="col col-lg-6">
        <form>
            <div class="form-group">
              <div class="col-md-12 mb-3">
                <label for="validationDefault03">Email</label>
                <input type="email" class="form-control" id="validationDefault03" placeholder="Email" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault04">Password</label>
                <input type="password" class="form-control" id="validationDefault04" placeholder="Password" required>
              </div>
  
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>       
    </div>
</div>
