<div class="mt-3 text-center">
    <a  class="btn btn-primary" [routerLink]="['/add-item']">Add Item</a>
</div>

<div>
  <div class="mt-5 container">
    <div class="card">
      <div class="card-body">

        <table class="table tabl-striped table-bordered" >
          <thead class="text-center">
            <tr>
              <th>ItemId</th>
              <th>ItemName</th>
              <th>ItemDate</th>
              <th>ItemType</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of this.items" >
              <td> {{item.itemId}} </td>
              <td> {{item.itemName}} </td>
              <td> {{item.itemDate}} </td>
              <td> {{item.itemType}} </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="mt-3 text-center">
  <label class="form-label m-3">Enter id</label>
  <input [(ngModel)]="idToDelete" type="number">
  <button (click)="deleteItem()" class="btn btn-danger m-3"> Delete </button>
</div>

<div class="mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let pageNumber of pageNumbers" [class.active]="currentPage === pageNumber">
        <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(pageNumber)">{{ pageNumber }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
        <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>  
</div>

<div class="container" *ngIf="isLoading">
  <app-loading></app-loading>
</div>

